body{
  background-image:url("https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=ef8501bb329f02e545d8822c44968a98");
  background-repeat:no-repeat; 
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

 }

h1{
 font-family: 'Days One', sans-serif;
 font-size: 55px;
 }

h3{
 font-family: 'Montserrat Alternates', sans-serif;
 }

img{
 float:left;
 position: relative;
 left: 560px;
 margin-top:20px;
}

ul{
 padding: 10px;
 //list-style-image: url('http://openweathermap.org/img/w/10d.png');
 //list-style-position:inside;
 }

ul li{
 position: relative;
 
 }

li{
 font-family: 'Montserrat Alternates', sans-serif;
 font-size: 20px;
 }

#city{
  font-size: 45px;
  }

#faTemp{
  font-size: 60px;
 }

#icon{
  size:45px;
 }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2d2c2c;
  color: white;
  text-align: center;
  opacity: 0.5;
}